@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    
}
/* navigation section */
.nav-bar{
    max-width: 100%;
    background-color: lightgreen;
    padding: 0.5rem 0.5rem;
    border: 2px solid green;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;  
    margin-bottom: 1.5rem; 
}
.nav-intro{
    padding: 1rem 0.5rem;
    text-align: center;
}
/* input section */
.input-textarea{
    border: 2px solid green;
    display: block;
    padding: 2rem 0.5rem;
    margin: 1.5rem;
    width: 100%;
    max-width: 80%;
    min-height: 8vh;
    text-align: center;
    font-size: large;
    margin: auto;
}



/* button section */
.translate-btn{
    font-size: large;
    padding: 0.5rem 2.5rem;
    margin: 1rem 0.5rem;
    border: 2px solid green;
    border-radius: 0.5rem;
}
.button-trans{
    text-align: center;
}

/* output section */
.output-textarea{
    border: 2px solid green;
    display: block;
    width: 100%;
    max-width: 80%;
    padding: 0.5rem 0.5rem;
    min-height: 8vh;
    margin: auto;

}
.output-intro{
    text-align: center;
}

/* footer section */
.footer-bar{
    max-width: 100%;
    background-color: lightgreen;
    padding: 0.5rem 0.5rem;
    border: 1px solid green;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    margin-top: 2rem;
}
.footer-intro{
    padding: 0rem 1rem;
    text-align: center;
}

